{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - StarShop{% endblock %}

{% block body %}

<h1>Hi There!</h1>

<p> There is {{ starship_count }} starships available in our store. </p>

{% if starship_count > 400 %}
    <p>It's a lot!</p>
{% endif %}

<table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper|lower|title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.registry }}</td>
        </tr>
</table>

{% endblock body %}