{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - StarShop{% endblock %}

{% block body %}

<h1>Hi There!</h1>

<p> There is {{ starships | length }} starships available in our store. </p>

{% if starships | length > 2 %}
    <p>It's a lot!</p>
{% endif %}

<table>
        <tr>
            <th>Name</th>
            <td><a href="{{ path('app_starship_show', {id:myShip.id} ) }}">{{ myShip.name }}</a></td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>

</table>

{% endblock body %}